<h2>People</h2>
<div *ngIf="loading else displayform" class="loading-container">
  <app-loading></app-loading>
</div>
<ng-template #displayform>
  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <div class="row justify-content-end mb-3">
        <div class="col-auto">
          <button (click)="addPerson()" class="btn btn-primary">Add Person</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="input-group">
            <input type="text" placeholder="Search by name" [(ngModel)]="searchTerm" (input)="filterPeople()" class="form-control">
            <button (click)="clearSearch()" class="btn btn-secondary input-group-text">Clear</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group">
            <li *ngFor="let person of filteredPeople" (click)="selectPerson(person)" class="list-group-item list-group-item-action" [class.active]="person === selectedPerson">
              {{ person.firstName }} {{ person.lastName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7 offset-md-1">
      <div *ngIf="selectedPerson">
        <app-person-editor [person]="selectedPerson" (close)="closePersonEditor()"></app-person-editor>
      </div>
      <div *ngIf="addUser">
        <app-add-person (close)="closePersonEditor()"></app-add-person>
      </div>
    </div>
  </div>
</ng-template>
